{% extends 'base.html' %}

{% load static %}

{%block body%}

  <!-- Page Content -->
  <div class="py-10 bg-white">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8 col-md-12 col-12 mb-12">
          <!-- caption-->
          <h3 class="display-2 fw-bold mb-4">Hi there, we’re <span class="text-primary">HiveSol</span></h3>
          <!-- para -->
          <p class="h2 mb-3 ">To upgrade the business growth of our clients we provide innovative Design and Development with market-defining great arrangements and innovative ideas that make esteem and steady aggressive
            benefit for our clients all over the globe. Let’s work together to tell the world the story of your brand.</p>
          <p class="mb-0 h4 text-body lh-lg">Our other goal is to create online learning platforms that are engaging and easy to use for individuals.
            Let’s empower the learners with an exceptional eLearning experience!</p>
        </div>
      </div>
       <!-- gallery -->
      <div class="gallery mb-12">
       <!-- gallery-item -->
        <figure class="gallery__item gallery__item--1 mb-0">
          <img src="{% static 'assets/images/about/geeksui-img-5.jpg' %}" alt="Gallery image 1" class="gallery__img rounded-3">
        </figure>
         <!-- gallery-item -->
        <figure class="gallery__item gallery__item--2 mb-0">
          <img src="{% static 'assets/images/about/geeksui-img-2.jpg' %}" alt="Gallery image 2" class="gallery__img rounded-3">
        </figure>
         <!-- gallery-item -->
        <figure class="gallery__item gallery__item--3 mb-0">
          <img src="{% static 'assets/images/about/geeksui-img-3.jpg'%}" alt="Gallery image 3" class="gallery__img rounded-3">
        </figure>
         <!-- gallery-item -->
         <figure class="gallery__item gallery__item--4 mb-0">
          <img src="{% static 'assets/images/about/geeksui-img-4.jpg'%}" alt="Gallery image 4" class="gallery__img rounded-3">
        </figure>
        <figure class="gallery__item gallery__item--5 mb-0">
          <img src="{% static 'assets/images/about/geeksui-img-5.jpg'%}" alt="Gallery image 5" class="gallery__img rounded-3">
        </figure>
        <figure class="gallery__item gallery__item--6 mb-0">
          <img src="{% static 'assets/images/about/geeksui-img-6.jpg'%}" alt="Gallery image 6" class="gallery__img rounded-3">
        </figure>
      
       </div>
        </div>
      </div>

 {%endblock body%}