{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {%block body%}
<div class="mt-8 mb-12 px-8">
  {% include "messages.html" %}
  <div class="card bg-dark shadow-none">
    <div class="card-body p-md-5">
      <h3 class="mb-4 text-light">
        You are almost there, We are going to submit your Enrollment request for {{course_title}}
      </h3>
      <span class="text-light">
        After applying for this course, your application will be sended to team and you can view your enrollment status by log into your account
      </span>
      <!-- form -->
      <form method="post" action="">
        {% csrf_token %}
        <!-- button -->
        <div>
          <button class="btn btn-primary mt-4" type="submit">
            Are You sure to Apply?
          </button>
          <button type="button" class="btn btn-success mt-4">
            <a class="text-light" href="/">No</a>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock body%}
