{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{meta_title}}</title>
    <!-- Required meta tags -->
    <meta
      name="description"
      content="{{meta_description}}"
    />
    <meta
      name="keywords"
      content="{{meta_keywords}}"
    />
    

    <!-- Favicon icon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/images/icon.jpg' %}"
    />

    <!-- Libs CSS -->
    <link
      href="{% static 'assets/fonts/feather/feather.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/@fortawesome/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/bootstrap-icons/font/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/dragula/dist/dragula.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/@mdi/font/css/materialdesignicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/prismjs/themes/prism.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/dropzone/dist/dropzone.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/magnific-popup/dist/magnific-popup.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/@yaireo/tagify/dist/tagify.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/tiny-slider/dist/tiny-slider.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/tippy.js/dist/tippy.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'https://pro.fontawesome.com/releases/v5.10.0/css/all.css' %}"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}" />
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-default">
      <div class="container-fluid px-0">
        <a class="navbar-brand" href="/"
          ><img
            src="{% static 'assets/images/logo.png' %}"
            width="120px"
            height="75px"
            alt=""
        /></a>
        <!-- Mobile view nav wrap -->
        <ul
          class="navbar-nav navbar-right-wrap ms-auto d-lg-none d-flex nav-top-wrap"
        >
          {% if user.is_authenticated %}
          <li class="dropdown ms-2">
            <a
              class="rounded-circle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
            >
              <div class="avatar avatar-md avatar-indicators avatar-online">
                <img
                  class="rounded-circle"
                  src="{{user.image.url}}"
                  alt=""
                />
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end shadow">
              <div class="dropdown-item">
                <div class="d-flex">
                  <div class="avatar avatar-md avatar-indicators avatar-online">
                    <img
                      alt="avatar"
                      src="{% static 'assets/images/avatar/avatar-1.jpg' %}"
                      class="rounded-circle"
                    />
                  </div>
                  <div class="ms-3 lh-1">
                    <h5 class="mb-1">{{user.first_name}}</h5>
                    <p class="mb-0 text-muted">{{user.email}}</p>
                  </div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item" href="{% url 'profile' %}">
                    <i class="fe fe-user me-2"></i>Profile
                  </a>
                </li>
              </ul>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item" href="{% url 'enrollments' %}">
                    <i class="fe fe-power me-2"></i>My Enrollments
                  </a>
                </li>
              </ul>

              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="fe fe-power me-2"></i>Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </li>
          {% endif %}
        </ul>
        <!-- Button -->
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-default"
          aria-controls="navbar-default"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar top-bar mt-0"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbar-default">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="h3 p-2"
                href="#services"
                id="navbarBrowse"
                data-bs-display="static"
              >
                Services
              </a>
            </li>

            <li class="nav-item">
              <a
                class="h3 p-2"
                href="#latest-sections"
                id="navbarBrowse"
                data-bs-display="static"
              >
                Courses
              </a>
            </li>

            <li class="nav-item">
              <a
                class="h3 p-2"
                href="/about"
                id="navbarBrowse"
                data-bs-display="static"
              >
                About
              </a>
            </li>

            <li class="nav-item">
              <a
                class="h3 p-2"
                href="/contact"
                id="navbarBrowse"
                data-bs-display="static"
              >
                Contact
              </a>
            </li>

            <form class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center">
              <span class="position-absolute ps-3 search-icon">
                <i class="fe fe-search"></i>
              </span>
              <input
                type="search"
                class="form-control ps-6"
                placeholder="Search Courses"
              />
            </form>
          </ul>

          {% if user.is_authenticated %}
          <ul class="navbar-nav navbar-right-wrap ms-auto d-none d-lg-block">
            <li class="dropdown ms-2 d-inline-block">
              <a
                class="rounded-circle"
                href="#"
                data-bs-toggle="dropdown"
                data-bs-display="static"
                aria-expanded="false"
              >
                <div class="avatar avatar-md avatar-indicators avatar-online">
                  <img
                    class="rounded-circle"
                    src="{{user.image.url}}"
                    alt=""
                  />
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <div class="dropdown-item">
                  <div class="d-flex">
                    <div
                      class="avatar avatar-md avatar-indicators avatar-online"
                    >
                      <img
                        class="rounded-circle"
                        src="{{user.image.url}}"
                        alt=""
                      />
                    </div>
                    <div class="ms-3 lh-1">
                      <h5 class="mb-1">{{user.first_name}}</h5>
                      <p class="mb-0 text-muted">{{user.email}}</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <ul class="list-unstyled">
                  <li>
                    <a class="dropdown-item" href="{% url 'profile' %}">
                      <i class="fe fe-user me-2"></i>Profile
                    </a>
                  </li>
                </ul>
                <div class="dropdown-divider"></div>
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="dropdown-item"
                      href="{% url 'enrollments' %}"
                    >
                      <i class="fe fe-star me-2"></i>My Enrollments
                    </a>
                  </li>
                </ul>

                <div class="dropdown-divider"></div>
                <ul class="list-unstyled">
                  <li>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                      <i class="fe fe-power me-2"></i>Sign Out
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

          {% else %}
          <div class="ms-auto mt-3 mt-lg-0">
            <a href="{% url 'login' %}" class="btn btn-white shadow-sm me-1"
              >Sign In</a
            >
            <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
          </div>

          {% endif %}
        </div>
      </div>
    </nav>

    <!-- Content -->

    <!-- Footer -->
    <!-- Footer -->

    <!-- Scripts -->
    <!-- Libs JS -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/odometer/odometer.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/libs/flatpickr/dist/flatpickr.min.js' %}"></script>
    <script src="{% static 'assets/libs/inputmask/dist/jquery.inputmask.min.js' %}"></script>
    <script src="{% static 'assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/libs/quill/dist/quill.min.js' %}"></script>
    <script src="{% static 'assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js' %}"></script>
    <script src="{% static 'assets/libs/dragula/dist/dragula.min.js' %}"></script>
    <script src="{% static 'assets/libs/bs-stepper/dist/js/bs-stepper.min.js' %}"></script>
    <script src="{% static 'assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
    <script src="{% static 'assets/libs/jQuery.print/jQuery.print.js' %}"></script>
    <script src="{% static 'assets/libs/prismjs/prism.js' %}"></script>
    <script src="{% static 'assets/libs/prismjs/components/prism-scss.min.js' %}"></script>
    <script src="{% static 'assets/libs/@yaireo/tagify/dist/tagify.min.js' %}"></script>
    <script src="{% static 'assets/libs/tiny-slider/dist/min/tiny-slider.js' %}"></script>
    <script src="{% static 'assets/libs/@popperjs/core/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/tippy.js/dist/tippy-bundle.umd.min.js' %}"></script>
    <script src="{% static 'assets/libs/typed.js/lib/typed.min.js' %}"></script>
    <script src="{% static 'assets/libs/jsvectormap/dist/js/jsvectormap.min.js' %}"></script>
    <script src="{% static 'assets/libs/jsvectormap/dist/maps/world.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <!-- <script src="./assets/libs/@fortawesome/fontawesome-free/js/all.js"></script> -->

    <!-- clipboard -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.min.js' %}"></script>
    {% if not message == "" %}
    <script>
      function hidemessage() {
        $("#view_message").hide();
      }
      setTimeout(hidemessage, 4000);
    </script>
    {% endif%}

    <!-- <script>
      function myfun(id) {
        document.getElementById("replyform");
        $("#formcomment").focus();
        $("#abc").val(id);
      }
      function myfun1(id) {
        //var x=  $('#'+id).css("display","none");
        var x = document.getElementById(id);
        if (x.style.display === "none") {
          $("#" + id).css("display", "block");
        } else {
          $("#" + id).css("display", "none");
        }

        $(id).val(id);
      }
      function showfun(data, id) {
        var x = document.getElementById(id + "_like");
        var y = document.getElementById(id + "_dislike");
        if (data == "1") {
          $(x).show();
          $(y).hide();
        } else {
          $(y).show();
          $(x).hide();
        }
      }
    </script> -->
    {%block body%} {%endblock body%}


    <div class="pt-lg-10 pt-5 footer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
                <!-- about company -->
            <div class="mb-4">
              <img src="{% static 'assets/images/logo.png' %}" alt="hiveSol Technologies" style="width: 100px; width: 100px">
              <div class="mt-4">
                <p>HiveSol Serves you from Technical Consultancy to E-Learning Programs</p>
                   <!-- social media -->
                <div class="fs-4 mt-4">
                  <a href="#" class="mdi mdi-facebook text-muted me-2"></a>
                  <a href="#" class="mdi mdi-twitter text-muted me-2"></a>
                  <a href="#" class="mdi mdi-instagram text-muted "></a>
                </div>
              </div>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-3 col-6">
            <div class="mb-4">
                  <!-- list -->
              <h3 class="fw-bold mb-3">Company</h3>
              <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
                <li><a href="/about" class="nav-link">About</a></li>
                <li><a href="/contact" class="nav-link">Contact</a></li>
                <!-- <li><a href="#" class="nav-link">Pricing</a></li>
                <li><a href="#" class="nav-link">Careers</a></li>
                <li><a href="#" class="nav-link">Contact</a></li> -->
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6">
            <div class="mb-4">
                  <!-- list -->
              <h3 class="fw-bold mb-3">Support</h3>
              <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
                <li><a href="/" class="nav-link">Privacy Policy</a></li>
                <li><a href="" class="nav-link">Help and Support</a></li>
                <!-- <li><a href="#" class="nav-link">Get the app</a></li>
                <li><a href="#" class="nav-link">FAQ’s</a></li>
                <li><a href="#" class="nav-link">Tutorial</a></li> -->
              </ul>

            </div>
          </div>
          <div class="col-lg-3 col-md-12">
                <!-- contact info -->
            <div class="mb-4">
              <h3 class="fw-bold mb-3">Get in touch</h3>
              <p>Sialkot, Pakistan, 51310</p>
              <p class="mb-1">Email: <a href="#">hivesoltech@zohomail.com</a></p>
              <p>Phone: <span class="text-dark fw-semi-bold">+ 92-337-4687072</span></p>

            </div>
          </div>
        </div>

        
        
      </div>
    </div>
    
  </body>
</html>
