{% extends 'base.html' %} {% load static %} {% block body %}

<head>
  <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}" />
  <title>Course Details</title>

  <style>
    .dropdown-toggle:after {
      float: none;
      margin-left: 0px;
      vertical-align: 0px;
    }
    @media (min-width: 350px) {
      tab-pane fade {
        background-color: blue;
      }
    }
  </style>
</head>

<body>
  <!-- Page header -->
  <div class="pt-lg-8 pb-lg-16 pt-8 pb-12 bg-primary">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12">
          <div>
            <h1 class="text-white display-4 fw-semi-bold">
              {{course.course_name}}
            </h1>
            <p class="text-white mb-6 lead">{{course.description | safe}}</p>
            <div class="d-flex align-items-center">
              <a href="#" class="bookmark text-white text-decoration-none">
                <i class="fe fe-bookmark text-white-50 me-2"></i>Bookmark
              </a>

              <span class="text-white ms-3"
                ><i class="fe fe-user text-white-50"></i> 89 Enrolled
              </span>
              <span class="ms-4">
                <i class="mdi mdi-star me-n1 text-warning"></i>
                <i class="mdi mdi-star me-n1 text-warning"></i>
                <i class="mdi mdi-star me-n1 text-warning"></i>
                <i class="mdi mdi-star me-n1 text-warning"></i>
                <i class="mdi mdi-star me-n1-half text-warning"></i>
                <span class="text-white">(80)</span>
              </span>
              <span class="text-white ms-4 d-none d-md-block">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16
                              16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="3"
                    y="8"
                    width="2"
                    height="6"
                    rx="1"
                    fill="#DBD8E9"
                  ></rect>
                  <rect
                    x="7"
                    y="5"
                    width="2"
                    height="9"
                    rx="1"
                    fill="#DBD8E9"
                  ></rect>
                  <rect
                    x="11"
                    y="2"
                    width="2"
                    height="12"
                    rx="1"
                    fill="#DBD8E9"
                  ></rect>
                </svg>
                <span class="align-middle"> {{course.course_level}} </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-12 mt-n8 mb-4 mb-lg-0">
          <!-- Card -->
          <div class="card rounded-3">
            <!-- Card header -->
            <div class="card-header border-bottom-0 p-0">
              <div>
                <!-- Nav -->
                <ul class="nav nav-lb-tab" id="tab" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="outline-tab"
                      data-bs-toggle="pill"
                      href="#outline"
                      role="tab"
                      aria-controls="outlines"
                      aria-selected="true"
                      >Course Outline</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="instructor-tab"
                      data-bs-toggle="pill"
                      href="#instructors"
                      role="tab"
                      aria-controls="instructors"
                      aria-selected="false"
                      >Instructors</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="faq-tab"
                      data-bs-toggle="pill"
                      href="#faqs"
                      role="tab"
                      aria-controls="faq"
                      aria-selected="false"
                      >FAQ's</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="review-tab"
                      data-bs-toggle="pill"
                      href="#reviews"
                      role="tab"
                      aria-controls="reviews"
                      aria-selected="false"
                      >Reviews</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <!-- style="overflow-x: scroll;" -->
            <div class="card-body">
              <div class="tab-content" id="tabContent">
                <div
                  class="tab-pane fade show active"
                  id="outline"
                  role="tabpanel"
                  aria-labelledby="outline-tab"
                >
                  <div>{{course.course_outline | safe}}</div>
                </div>
                <div
                  class="tab-pane fade"
                  id="instructors"
                  role="tabpanel"
                  aria-labelledby="instructor-tab"
                >
                  <div class="mb-4">
                    {% for x in instructors %}
                    <div class="d-flex border-bottom pb-4 mb-4">
                      <img
                        src="{% static 'assets/images/avatar.png' %}"
                        alt=""
                        class="rounded-circle avatar-lg"
                      />
                      <div class="ms-3">
                        <h4 class="mb-1">
                          {{x.first_name}}
                          <span class="ms-1 fs-6 text-muted">2 Days ago</span>
                        </h4>
                        <div class="fs-6 mb-2">
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                        </div>
                        <p>{{x.educational_background}}</p>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>

                <div
                  class="tab-pane fade"
                  id="reviews"
                  role="tabpanel"
                  aria-labelledby="review-tab"
                >
                  <div id="replyform">
                    <form method="POST" action="">
                      {%csrf_token%}
                      <div>
                        <input
                          tpye="text"
                          class="form-control"
                          name="comment"
                          placeholder="Add a comment"
                          required
                          id="formcomment"
                        />
                      </div>
                      <div>
                        <button
                          type="submit"
                          class="btn btn-primary btn-sm mt-2"
                        >
                          Submit
                        </button>
                      </div>
                    </form>
                  </div>
                  <hr />
                  <!-- Reviews -->
                  <div class="mb-3">
                    <!-- Rating -->
                    {% for review in reviews %}
                    <div class="row mb-3">
                      <div class="col-md-12">
                        <div class="row mb-2">
                          <div class="col-md-2 col-sm-3 col-lg-2">
                            <img
                              src="{{review.course.course_image.url}}"
                              alt=""
                              class="rounded-circle avatar-lg"
                            />
                          </div>
                          <div class="col-md-10 col-sm-9 col-lg-10">
                            <div>
                              <p class="mb-1 mt-auto">
                                {{review.user}}
                                <span class="ms-1 fs-6 text-muted"
                                  >{{review.pub_date}}</span
                                >
                              </p>
                              <h5>{{review.comment}}</h5>
                            </div>

                            <!-- <div class="row mt-2" id="like_xyz">
                                                                        
                                                                        <div class="col-md-4">
                                                                            <i class="fa fa-thumbs-up fa-2xl" style="Font-size:22px;"  onclick="likefun({{msg.id}},1)" id="{{msg.id}}_like" name="comment_like" > <spam style=Font-size:16px;>{{msg.likes}}</spam></i>

                                                                        </div> 
                                                                        <div class="col-md-8">
                                                                            <i class="fa fa-thumbs-down fa-2xl" style="Font-size:22px;" onclick="likefun({{msg.id }},0)"id="{{msg.id}}_dislike" name="comment_dislike" > <spam style=Font-size:16px;>{{msg.dislikes}}</spam></i>
                                                                        </div>
                                                                    </div>
                                                                         -->
                          </div>

                          <!-- <div class="col-md-3 col-sm-2 mt-3">
                                                                    <a id="myreply" onclick="myfun({{msg.id}})">Reply</a>
                                                                </div>

                                                                <div class="col-md-3 col-sm-2">    
                                                                    {%if msg.replies.all %}
                                                                        <a class="nav-link dropdown-toggle show" id="myreplyclose"onclick="myfun1({{msg.id}})" data-bs-toggle="dropdown" >
                                                                            Show Reply
                                                                        </a>
                                                                    {%endif%}
                                                                      
                                                                </div> -->
                        </div>
                      </div>

                      <!-- <div class="col-md-12"style="padding-left:70px; display:none;" id="{{msg.id}}">
                                                    
                                                    {%for rpl in msg.replies.all%}
                                                    <div class"row" style="padding-left:40px;">
                                                        <h5 class="mb-1 mt-2">
                                                        
                                                                {{rpl.name}}
                                                           </h5>
                                                        <h5 class="mb-1 mt-2"style="padding-left:30px;">
                                                            {{rpl.comment}}
                                                        </h5>
                                                        <div class="row mt-1" id="reply_xyz">
                                                            <div class="col-md-2">
                                                                <i class="fa fa-thumbs-up fa-xl " style="Font-size:22px;"  onclick="likefun({{rpl.id}},1)" id="{{rpl.id}}_like" name="comment_like"> <spam style=Font-size:16px;>{{rpl.likes}}</spam></i>

                                                            </div>
                                                            <div class="col-md-10">
                                                                <i class="fa fa-thumbs-down fa-xl " style="Font-size:22px;" onclick="likefun({{rpl.id }},0)"id="{{rpl.id}}_dislike" name="comment_dislike"> <spam style=Font-size:16px;>{{rpl.dislikes}}</spam></i>

                                                            </div>
                                                        </div>    
                                                      
                                                       
                                                    </div>
                                                    {%endfor%}
                                                </div> -->
                    </div>

                    {% endfor %}
                  </div>
                </div>

                <!-- Tab pane -->
                <div
                  class="tab-pane fade"
                  id="faqs"
                  role="tabpanel"
                  aria-labelledby="faq-tab"
                >
                  <!-- FAQ -->
                  <div class="accordion" id="courseAccordion">
                    <div>
                      <!-- List group -->
                      <ul class="list-group list-group-flush">
                        {% for o in faqs %}
                        <li class="list-group-item px-0 pt-0">
                          <!-- Toggle -->
                          <a
                            class="h4 mb-0 d-flex align-items-center text-inherit text-decoration-none active collapsed"
                            data-bs-toggle="collapse"
                            href="#courseTwo"
                            aria-expanded="false"
                            aria-controls="courseTwo"
                          >
                            <div class="me-auto">
                              {{o.question}}
                            </div>
                            <!-- Chevron -->
                            <span class="chevron-arrow ms-4">
                              <i class="fe fe-chevron-down fs-4"></i>
                            </span>
                          </a>
                          <!-- Row -->
                          <!-- Collapse -->
                          <div
                            class="collapse"
                            id="courseTwo"
                            data-bs-parent="#courseAccordion"
                            style=""
                          >
                            <div class="pt-3 pb-2">
                              <a
                                href="course-resume.html"
                                class="mb-2 d-flex justify-content-between align-items-center text-inherit text-decoration-none"
                              >
                                <div class="text-truncate">
                                  <span
                                    class="icon-shape bg-light text-primary icon-sm rounded-circle me-2"
                                    ><i class="mdi mdi-play fs-4"></i
                                  ></span>
                                  <span>{{o.answer}}</span>
                                </div>
                                
                              </a>
                              
                            </div>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12 mt-lg-n22">
          <!-- Card -->
          <div class="card mb-3 mb-4">
            <div class="p-1">
              <a class="card-img-top"
                ><img
                  src="{{course.course_image.url}}"
                  alt=""
                  class="rounded-top-md card-img-top"
                  width="200"
                  height="200"
              /></a>
            </div>
            <!-- Card body -->
            <div class="card-body">
              <!-- Price single page -->
              <div class="mb-3">
                <span class="text-dark fw-bold h2">{{course.price}}</span>
                <hr />
                Enrollment Starts from:
                <span class="text-dark fw-bold h6">
                  {{ latestSection.enrollment_start_date }}</span
                >
                to
                <span class="text-dark fw-bold h6"
                  >{{ latestSection.enrollment_end_date }}</span
                >
                <br />

                Classes Starts from:
                <span class="text-dark fw-bold h6"
                  >{{ latestSection.section_start_date }}</span
                >
                to
                <span class="text-dark fw-bold h6"
                  >{{ latestSection.section_end_date }}</span
                >
              </div>
              <hr />
              <div class="d-grid">
                <a
                  href="{% url 'course-apply' sid=latestSection.id %}"
                  class="btn btn-primary mb-2"
                  >Apply Now</a
                >
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div>
              <!-- Card header -->
              <div class="card-header">
                <h4 class="mb-0">What’s included</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent">
                  <i
                    class="fe fe-play-circle align-middle me-2 text-primary"
                  ></i
                  >1.5 hours Lecture
                </li>
                <li class="list-group-item bg-transparent">
                  <i class="fe fe-award me-2 align-middle text-success"></i
                  >Certificate
                </li>
                <li class="list-group-item bg-transparent">
                  <i class="fe fe-calendar align-middle me-2 text-info"></i
                  >Weekly Assignments
                </li>
                <li class="list-group-item bg-transparent">
                  <i class="fe fe-video align-middle me-2 text-secondary"></i
                  >Best Practices
                </li>
                <li class="list-group-item bg-transparent border-bottom-0">
                  <i class="fe fe-clock align-middle me-2 text-warning"></i
                  >Final Project
                </li>
              </ul>
            </div>
          </div>

          <!-- Card -->
        </div>
      </div>
      <!-- Card -->

      <div class="pt-12 pb-3">
        <div class="row d-md-flex align-items-center mb-4">
          <div class="col-12">
            <h2 class="mb-0">Related Courses</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Card -->
            <div class="card mb-4 card-hover">
              <a class="card-img-top"
                ><img
                  src="../{{course.course_image}}"
                  alt=""
                  class="card-img-top rounded-top-md"
              /></a>
              <!-- Card body -->
              <div class="card-body">
                <h4 class="mb-2 text-truncate-line-2">
                  <a class="text-inherit"
                    >How to easily create a website with
                    {{course.course_name}}</a
                  >
                </h4>
                <ul class="mb-3 list-inline">
                  <li class="list-inline-item">
                    <i class="far fa-clock me-1"></i>3h 56m
                  </li>
                  <li class="list-inline-item">
                    <svg
                      class="me-1 mt-n1"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        x="3"
                        y="8"
                        width="2"
                        height="6"
                        rx="1"
                        fill="#754FFE"
                      />
                      <rect
                        x="7"
                        y="5"
                        width="2"
                        height="9"
                        rx="1"
                        fill="#DBD8E9"
                      />
                      <rect
                        x="11"
                        y="2"
                        width="2"
                        height="12"
                        rx="1"
                        fill="#DBD8E9"
                      />
                    </svg>
                    Beginner
                  </li>
                </ul>
                <div class="lh-1">
                  <span>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(7,700)</span>
                </div>
              </div>
              <!-- Card footer -->
              <div class="card-footer">
                <div class="row align-items-center g-0">
                  <div class="col-auto">
                    <img
                      src="../{{course.course_image}}"
                      class="rounded-circle avatar-xs"
                      alt=""
                    />
                  </div>
                  <div class="col ms-2">
                    <span>Morris Mccoy</span>
                  </div>
                  <div class="col-auto">
                    <a href="#" class="text-muted bookmark">
                      <i class="fe fe-bookmark"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- <script>
  function likefun(id, value) {
    var obj = {
      id: id,
      value: value,
    };

    $.ajax({
      type: "POST",
      url: "{% url 'like' %}",
      dataType: "json",
      data: obj,
      success: function (data) {
        showfun(data, id);

        $("#like_xyz").load(" #like_xyz");
        $("#reply_xyz").load(" #reply_xyz");
      },
    });
  }
</script> -->

{%endblock body%}
