{% extends 'base.html' %}

{% load static %}
{%block body%}
<div class="pt-5 pb-5">
    <div class="container">
        <!-- User info -->
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top-md" style="
                            background: url({% static 'assets/images/background/profile-bg.jpg'%}) no-repeat;
                            background-size: cover;
                        "></div>
                <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom-md shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img src="{{request.user.image.url}}" class="avatar-xl rounded-circle border border-4 border-white"
                                alt="" />
                        </div>
                        {%if user.is_authenticated%}
                        <div class="lh-1">
                            <h2 class="mb-0">
                                    {{request.user.first_name}} {{request.user.last_name}}
                            </h2>
                            <p class="mb-0 d-block">{{request.user.email}}</p>
                        </div>
                        {%endif%}
                    </div>
                    <div>
                        <a href="{% url 'index' %}" class="btn btn-outline-primary btn-sm d-none d-md-block">Go to
                            Home</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mt-md-4">
            
            <div class="container">

                {% include "messages.html" %}
                <div class=" col-12">
                    <!-- Card -->
                    <div class="card border-0">
                        <!-- Card header -->
                        <div class="card-header d-lg-flex justify-content-between align-items-center">
                            <div class="mb-3 mb-lg-0">
                                <h3 class="mb-0">My Enrollments</h3>
                                <p class="mb-0">
                                    Here is list of your enrollments with status.
                                </p>
                            </div>
                            
                        </div>
                        {% if data %}
                        <!-- Card body -->
                        {% for object in data %}
                        <div class="card-body">
                            <div class="pt-0 pb-5">
                                <div class="row mb-4">
                                    <div class="col-lg-9 col-md-8 col-7 mb-2 mb-lg-0">
                                        <span class="d-block">
                                            <p class="h2">Enrollment# {{forloop.counter}}</p>
                                            <span class="h3">{{object.section.section_title}}</span>
                                            <span class="badge ms-2 {% if object.status == "Approved" or object.status == "Completed"  %} bg-success {% else %} bg-info {% endif %}">
                                                {{object.status}}</span></span>
                                        <p class="mb-0 fs-6">
                                            {{object.section.course.course_name}}
                                        </p>
                                    </div>

                                   

                               
                                    <!-- <div class="col-lg-3 col-md-4 col-12 d-lg-flex align-items-start justify-content-end">
                                        <a href="#" class="btn btn-outline-primary btn-sm">Drop</a>
                                    </div> -->
                                </div>
                                <!-- Pricing data -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-6 mb-2 mb-lg-0">
                                        <span class="fs-6">Section Start Date</span>
                                        <h6 class="mb-0">{{object.section.section_start_date}}</h6>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6 mb-2 mb-lg-0">
                                        <span class="fs-6">Section End Date</span>
                                        <h6 class="mb-0">{{object.section.section_end_date}}</h6>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6 mb-2 mb-lg-0">
                                        <span class="fs-6">Price</span>
                                        <h6 class="mb-0">{{object.section.course.price}}</h6>
                                    </div>
                                  
                                    <div class="col-lg-3 col-md-3 col-6 mb-2 mb-lg-0">
                                        <span class="fs-6">Comment</span>
                                        <h6 class="mb-0">{{object.comment}}</h6>
                                    </div>
                                </div>


                                <br>
                                {% if object.section.assignments.all %}
                                <h4>Assignments</h4>
                                <div class="table-invoice table-responsive border-0">
                                    <table class="table mb-0 text-nowrap">
                                        <thead class="table-light">
                                            <tr>
                                                <th>#</th>
                                                <th scope="col" class="border-bottom-0">Title</th>
                                                <th scope="col" class="border-bottom-0">Due Date</th>
                                                <th scope="col" class="border-bottom-0"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for x in object.section.assignments.all %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td class="h5">{{x.name}}</td>
                                                <td>{{x.due_date}}</td>
                                                <td>
                                                    <a href="{{x.file.url}}" class="fe fe-download" download=""></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="p-4">No Enrollments to Show</p>
                        {% endif %}
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>
 

{%endblock body%}