{% extends 'base.html' %}

{% load static %}

{%block body%}

<div class="pt-5 pb-5">
    <div class="container">
            <!-- User info -->
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top-md" style="
                            background: url({%static 'assets/images/background/profile-bg.jpg'%}) no-repeat;
                            background-size: cover;
                        "></div>
                <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom-md shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img src="{%static 'assets/images/avatar.png'%}" class="avatar-xl rounded-circle border border-4 border-white"
                                alt="" />
                        </div>
                        {%if user.is_authenticated%}
                        <div class="lh-1">
                            <h2 class="mb-0">
                                
                                    {{request.user.first_name}} {{request.user.last_name}}
                                
                              
                            </h2>
                            <p class="mb-0 d-block">{{request.user.email}}</p>
                        </div>
                        {%endif%}
                    </div>
                    <div>
                        <a href="{% url 'index' %}" class="btn btn-outline-primary btn-sm d-none d-md-block">Go to
                            Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
<!-- Content -->
<div class="row mt-md-4 mt-3">
        
            <div class="col-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">Profile Details</h3>
                        <p class="mb-0">
                            You have full control to manage your own account setting.
                        </p>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                     
                            
                            <!-- Form -->
                            <form class="row" method="POST">
                                {% csrf_token %}
                                <!-- First name -->
                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label" for="fname">First Name</label>
                                    <input type="text" id="fname" value="{{data.first_name}}" class="form-control"  name="first_name" required />
                                </div>
                                <!-- Last name -->
                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label" for="lname">Last Name</label>
                                    <input type="text" id="lname" value="{{data.last_name}}" class="form-control"  name="last_name" required />
                                </div>
                                <!-- Phone -->
                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label" for="phone">Email</label>
                                    <input type="email" id="phone" value="{{data.email}}" class="form-control"   name="email" required />
                                </div>
                                <!-- Birthday -->
                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label" for="birth">Educational Background</label>
                                    <input class="form-control " value="{{data.educational_background}}"  name="educational_background" type="text"  id="birth"
                                         />
                                </div>
                                    <!-- Button -->
                                    <button class="btn btn-primary" type="submit">
                                        Update Profile
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<!-- Footer -->


 {%endblock body%}